<header>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
<<<<<<< HEAD
=======
    <a href=" http://www.idlebrain.com/movie/photogallery/shalinipandey6/images/shalinipandey22.jpg">Shalini Pandey</a>
>>>>>>> 50e867572e99a0ccd1d2045946aec642fab88d80
    <h6><a href="/help.html">Help</a></h6>
 </header>
